@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600&display=swap');
*{
    margin: 0px;
    font-family: Mulish;
}

/* Header and Nav bar styles start */

.nav-container{
    display: flex;
    align-items: center;
    margin: 0px 140px;
    /* border: 2px solid black; */
    
}

.logo-title-container{
    display: flex;   
    /* border: 2px solid black; */
    width: 40%;
    margin: 50px 0px;
    text-align: center;
    align-items: center;

}
.logo-image{
    height: 50px;
    width: 60px;
    margin-right: 10px;
    
}
.logo{
    color: #131318;
    font-size: 36px;
        
}

.logo #logo-title{
    font-weight: 800px;  
    color: #FF5400; 
}

.Navigation {
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    width: 50%;
    /* border: 2px solid black; */
}
.Navigation a{
    text-decoration: none;
    font-size: 18px;
    color:  #535358;
    font-weight: 400;
    
}

#home-style{
    color: #FF5400;
    font-weight: 800;    
}
/* Nav bar style ends here  */

.explore-container{
    /* border: 2px solid black; */
    margin: 0px 140px;
    background-color: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);    
}

#exlore-image{
    width: 100%;
    height: 100%;
    border-radius: 16px;
    position: relative;
}

#text-explore{
    font-family:'Times New Roman', Times, serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -250%);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 40px;
    font-weight: 800px;
}
#text-explore-description{
    font-family:'Times New Roman', Times, serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 14px;
    font-weight: 400px;
}

.find-container{
    /* border: 2px  solid red; */
    width: 50%;
    height: 40px;
    border-radius: 7px;
    display: inline-flex;
    padding: 10px;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 110%);
    text-align: center;
    background: rgba(255, 255, 255, 0.30);
    
}

#find-container-box-1, #find-container-box-2, 
#find-container-box-3, #find-container-box-4{
font-size: 15px;
width: 150px;
height: 30px;
flex-shrink: 0;
text-align: center;
justify-content: center;
align-items: center;
border-radius: 8px;
}

/* Header Styles Ends Here */

/* Body Styles Starts Here ( Section-1 Starts Here)  */

.section-1{
    display: flex;
    justify-content: space-around;
    /* border: 2px solid black; */
    margin: 50px 140px ;
}

#Popular-tours-title{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    margin: 15px;
    font-size: 35px;
}
#Popular-tours-description{
    margin: 15px 50px 15px 15px;
    text-wrap: wrap;
    font-size: 15px;
    /* border: 2px solid black; */

}

.primary-btn{
    margin: 15px;
    margin-bottom: 0;

    border-radius: 8px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600 ;
    font-size: 17px;
    text-align: center;
    color: azure;
    background: #FF5400;
    width: 160px;
    height: 45px;
    border: none;
}

/* Section-1 Ends Here and Section- 2 Starts  */

.section-2{
    text-align: center;
    margin: 100px 270px 50px;
}

.section-2 #Destination-title{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
}

.section-2 #Destination-description{
    text-wrap: wrap;
    font-size: 15px;
    margin-top: 20px;
}

/* Section-2 Ends Here and Section- 3 Starts  */

.section-3{
    margin: 0px 140px;
    
}

.place-line-1{
    display: flex;
    margin-bottom: 18px;
    /* border: 2px solid black; */
}

#Indonesia{
    height: 50%;
    width: 50%;
  margin-left: 18px;  
}

#maldives{
    height: 50%;
    width: 50%;
    
}

.place-line-2{
    display: flex;
    margin-top: 0px; 
    margin-bottom: 18px;   
}

#srilanka{
    width: 33%;
    height: 50%;
}
 #North{
    width: 41%;
    height:50%;
    margin-left: 18px;
}
#kashmir{
    width: 23.5%;
    height: 50%;
    margin-left: 18px;
}

.place-line-3{
    display: flex;
    margin-bottom: 100px;
}
#bd{
    width: 41%;
    height: 55%;
}
#ban{
    width: 58%;
    height: 45%;
    margin-left: 18px;
}

/* Section-3 Ends Here and Section- 4 Starts  */

.section-4{
    text-align: center;
    margin: 20px 270px 50px;
}

.section-4 #section-4-title{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
}

.section-4 #section-4-description{
    text-wrap: wrap;
    font-size: 15px;
    margin-top: 20px;
}

/* Section-4 Ends Here and Section- 5 Starts  */

.section-5{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 40px;
    margin: 0px 140px;
}

.content-1, .content-2 , .content-3{
    padding: 10px;
}

.content-1 img , .content-2 img {
    margin-bottom: 25px;
} 

.content-1 h3 , .content-2 h3 {
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
} 

.content-1 p , .content-2 p {
    margin-bottom: 25px;
    text-wrap: wrap;
    color: #5A5A5D;
} 
.content-3 h3{
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
} 
.content-3 img{
    margin-bottom: 25px;
} 
.content-3 p{
    margin-bottom: 25px;
    text-wrap: wrap;
} 

.content-3{
    border: 1px solid rgba(233, 68, 68 ,.20);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 10px 30%; 
    color: #5A5A5D;
    margin-bottom: 100px;
}

/* Section-5 Ends Here  and Bonus Part Starts */


.deals{
    text-align: center;
    margin: 20px 270px 50px;
}

.deals #deals-title{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
}

.deals #deals-description{
    text-wrap: wrap;
    font-size: 15px;
    margin-top: 20px;
}

.discount-content{
    display: grid;
    margin: 0px 173px;
    gap: 18px;
    border: 2px solid black;
}
.discount-content #pic-1{
    height: 100%;
    width: 100%;
}
.discount-content img{
    position: relative;
}
/* .book-1{
    
border: 2px solid red;
} */
.icon-1 {
display: flex;
align-items: center;
justify-content: left;
gap: 10px;
padding: 35px 35px 35px 10px;
}
.offer-1 > h3{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 25px;
}
.offer-1 h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-bottom: 15px;
    color:#FF5400;
}
.offer-1 p{
    margin-bottom: 15px;
    color: #535358;
}

.secondary-btn{
    margin-bottom: 0;
    border-radius: 8px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600 ;
    font-size: 16px;
    text-align: center;
    color: azure;
    background: #FF5400;
    width: 90px;
    height: 35px;
    border: none;

}
.offer-1{
    
border: 2px solid rgb(63, 6, 249);
position: absolute;
z-index: 5;
border-radius: 16px;
border: 2px solid #FFF;
background: rgba(255, 255, 255, 0.80);
backdrop-filter: blur(2.5px);
width: 33%;
height: 45%;
flex-shrink: 0;   
text-align: left;
padding-left: 30px;
justify-content: left;
transform: translate(110%, -120%);
margin-bottom: 15px;
   
}

/* Footer Section */

footer-1{
    height: 500px;
    flex-shrink: 0;
    
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

.logo-2{
    
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 25px;
}

#logo-title-2{
    
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: #FF5400;
}

footer-1 > p{
    color: #5A5A5D;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
margin: 10px 300px;
}
hr{
    margin: 50px 200px;
   
}

.picturous{
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
}

footer{
    text-align: center;
    margin: 50px;
}